// estilos generales 
//   en especial los relacionados con funciones_comunes_helper.php .. jjy
    
@charset "utf-8";

@ancho_maximo : 1024px; // CAMBIAR ESTA VARIABLE SEGUN LA APARIENCIA DESEADA ! .... jjy

//*********** plantilla v2.0b !!! Feb 2014 ************** jjy v2 *****//
.formulario {
  input[type="text"],
  input[type="password"],
  input[type="file"],
  textarea,
  select {
    border: 1px solid transparent;
    padding: 4px;
    margin-bottom: 7px;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;

    &:hover{
      border: 1px solid rgba(0, 0, 0,0.2);
    }

    &:focus{
      outline: none;
      border: 1px solid rgba(31, 157, 229,0.75);
      //background-color: rgb(255, 255, 214);
    }
  }
}
.fila-registro{

  overflow: hidden;
  
  input[type="text"],
  input[type="password"],
  input[type="file"],
  textarea,
  select {
    background-color: transparent;
  }

  &:hover>div{
    border-bottom: 1px solid #999;
  }
}

//bootstrap containers
.container {
  width: auto;
  max-width: @ancho_maximo;
  padding: 0 15px;
  min-width: 350px !important; // por precaucion!
}
//*********** plantilla v2.0b !!! Feb 2014 ************** jjy v2 *****//
a,a:hover {
  text-decoration: none !important;
}

.btn {
  text-decoration: none;
  //padding:4px 10px;
} // bottstrap override ... jjy

.blanco-traslucido-pesatanas{
  background-color: rgba(225,225,225,0.7);
}
.ancho-maximo {
  width: @ancho_maximo !important;
}
.contenido-general{
  position: absolute;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.menu-izquierda {
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  border-right: 1px solid #eee;
}
.menu-secundario-superior{
  border-bottom: 1px solid #f7f7f7;
}
.cuerpo{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 20px 20px 5px 25px;
}
.cuerpo-menu-izquierda{
  left: 200px;
  right: 0;
}
.cuerpo-menu-secundario-superior{
  position: relative;
  height: 99%;
  padding-top: 10px;
}
.frame-modulo{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contenedor-principal {
  .ancho-maximo();
  margin: 0 auto;
  margin-left:  -1 * ( @ancho_maximo / 2 );
  position: absolute;
  left: 50%;
  bottom: 40px;
  //.resaltar();
}
body {
  //font-family: OpenSans; //, DejaVu, Arial, sans-serif
  //font-size: 0.85em;//
  margin: 0;
  background-color: #fff;
  color: #555;
}
.fondo-base-aplicacion{
  position: fixed; 
  //left: 0; 
  //right: 0;
  width: 100%; 
  bottom: 0;
  //top: 115px; 
  background-color:#f5f5f5;
}
.fondo-sombra-base {
  position: relative !important;  
  margin-left: -1 * ( (@ancho_maximo / 2) + 15 ); 
  left: 50%; 
  border: 1px solid #ddd; 
  width: @ancho_maximo + 0; 
  top: 10px; 
  bottom: -2px; 
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.15); 
  background-color: #fff;
}
label.etq_radio {
  vertical-align: 15% !important;
}
table {
  width: 100%;
} 
td {
  white-space: nowrap;
}
td input[type="text"]{
  //margin-bottom: 0;
}
.icono-info-ayuda {
  color: rgba(0,0,0,0.5); cursor:help;
}
.a-sin-borde {
  outline:0; 
}
/*.icono {
  width: 16px;
  height:1em;
  //margin: 0.55em auto;
}*/
.glyphicons {
  background-image: url(../imgs/glyphicons.png);
  background-size: 680px auto;
}
.iconos_osti {
  background-image: url(../imgs/iconos_osti.png);
  background-size: auto auto;
}
/*********************** v2 ... jjy 
.sboton_icono {
  margin: 0px 0px 0px 0px;
  width: 40px;
  height: 2em;
  border-radius: 3px;
  background-color: #F5F5F5;
   background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
   border: 1px solid rgba(0, 0, 0, 0.1);
}
.sboton_icono:hover {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.sboton_icono:active {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
*/
.icono-con-texto {

  .boton_icono {
    width: auto;
    float: left;
  }
  .icono {
    width: 20px;
    height:20px;
    display: inline-block;
    float: left;
    margin-left: -5px;
  }
  .descripcion-boton {
    display: inline-block;
    float: right;
    vertical-align: middle;
  }

  float: left;
}
.paginacion {
  padding: 0; 
}
.sin-margenes {
  margin: 0 !important;
}
.panel-1 {
  position: relative;
  background-color: #f0f3f9;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  min-width: 100px;
  min-height: 100px;
  border-radius: 3px;
  display: inline-block;
}
.formulario { // estilos asociados principalmente a los componentes dentro de un formulario ... jjy

  label div {
    width: 200px;
    text-align: right;
    vertical-align: top;
    padding-top: 4px;
    margin-right: 5px;
  }
  label,
  input[type="text"],
  input[type="password"],
  textarea,
  select,
  .solo_lectura {
    //font-size: 0.98em;
    //color: #333;
  }
  input[type="text"],
  input[type="password"],
  textarea,
  select,
  .solo_lectura {
    //border: 1px solid #ccc;
    //padding: 3px;
    //box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
    //margin-bottom: 4px;
    //min-width: 100px;
    //font-family: inherit;
  }
  .solo_lectura {
    border: 1px dotted #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    cursor: move; // url(../imgs/texto_no_editable.cur)
    min-height: 19px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    color: #555;
    display: inline-block;
    overflow: hidden;
  }
  input[type="text"]:hover ,
  input[type="password"]:hover ,
  textarea:hover ,
  select:hover{
    //border: 1px solid rgba(0,120,255,0.5);
  }
  input[type="text"]:focus ,
  input[type="password"]:focus ,
  textarea:focus ,
  select:focus {
    //border: 1px solid rgba(0,120,255,0.75);
    //background-color: #ffffde;
  }
  hr {
    margin: 5px 0 10px 0;
    padding: 0;
  }
}

.normal {
  font-weight: normal;
}
.negrita {
  font-weight: bold;
}
.centrado {
  display: block;
  margin: 0 auto !important;
  clear: both !important;
  float: none !important;
}
.formulario {
//  margin-top: 20px;
}
.flotado-derecha {
  display: inline-block;
  float: right;
}
.flotado-izquierda {
  display: inline-block;
  float: left;
}
/* v2 ... jjy
.titulo_panel-1{
  position:relative;
  border: 1px solid #fff;
  min-height: 10px;
  padding: 10px;
  left:0;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
}
.titulo_panel-1 h2 {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}*/
.cintillo-sup{
  position:relative;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px dotted rgba(0,0,0,0.5);
  padding-top: 2px;
  left:0;
  top: 0;
  height: 1.7em;
  right: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;
  color: #fff;
}
.cintillo-sup a {
  color: #fff;  
}
.fijo {
  position: fixed;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.barra-botones {
  position: relative;
  padding: 0;
  margin: 0;
  left:0;
  top: -2em;
  padding-top: 2em;
  right: 0;
  border-bottom: 1px solid #ccc;
  background-color: #efefef;
  z-index: 99;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3) inset;
}
.botones-barra {
  .ancho-maximo();

  position: relative;
  list-style-type: none;
  top: 0px;
  margin: 0 auto -1px auto;
  padding: 0;
  z-index: 98;
}
.botones-barra li{
  position: relative;
  border: 1px solid transparent;
  display: inline-block;
  margin: 0;
  text-align: center;
}
.botones-barra li.tab{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: rgba(200,200,200,0.5);
  color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 3px 3px 0px 0px;
  margin-right: 2px;
  margin-bottom: 1px; 
  font-size: 1.15em;
}
.botones-barra li.activo{
  background-color: #fff;
  border-bottom: 2px solid #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: -2px;
  margin-top: 4px;
  font-weight: bold;
}
.botones-barra li:hover {
  /* border: 1px solid rgba(0,0,0,.3);*/
}
.botones-barra li a {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  text-indent: -30000px;
  margin: 0;
  padding: 0;
}
.botones-barra li a img {
  max-width: 72px;
  max-height: 72px;
  margin: 0;
  padding: 0;
}
.barra-estado{
//  position:fixed;
//  padding: 0;
//  padding: 7px;
//  margin: 0;
//  left:0;
//  bottom: 0;
//  right: 0;
//  border-top: 1px solid #ccc;
//  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
//  background-color: #efefef;  
  z-index: 99;
  margin-top: 12px;
  font-size: 0.85em;
}
.menu-secundario{
  background-color: #fbfbfb;
}
.menu-secundario .nav-pills li a{
  border-radius: 0 !important;
}
.menu-secundario ul li:hover,
.menu-secundario ul li:hover a{
  background-color: #f7f7f7;
}
.menu-secundario ul li.activo{
  font-weight: bold;
}
.menu-secundario.menu-izquierda ul li.activo a{
  border-left: 3px solid;
}
.menu-secundario.menu-izquierda ul li a{
  border-left: 3px solid transparent;
}
.menu-secundario.menu-secundario-superior ul li.activo a{
  //border-top: 4px solid;
}
.menu-secundario.menu-secundario-superior ul li a{
  //padding-bottom: 3px;
}
/* ..... jjy v2
ul.menu-izquierda {
  list-style-position: inside;
  padding: 10px 10px 40px 0px;
  list-style-type: none;
  border-right: 1px dotted lightgrey;
}
ul.menu-izquierda ul{
  margin-top: 5px;
  list-style-position: inside;
  padding-left: 10px;
  list-style-type: disc;
}
.ancho-con-menu-secundario-superior {
  top: 1em;
  //width: @ancho_maximo - 30px;
}
ul.menu-secundario-superior {
  list-style-position: inside;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 0;
  border-bottom: 1px dotted rgb(204,204,204);
}
ul.menu-secundario-superior li {
  display: inline-block;
  padding: 0 24px 0 0;
  border-bottom: 4px solid transparent;
}
ul.menu-secundario-superior li a{
  padding: 0;
  line-height: 2em;
}
ul.menu-secundario-superior li.activo {
  font-weight: bold;
}
ul.menu-secundario-superior ul{
  margin-top: 5px;
  list-style-position: inside;
  padding-left: 10px;
  list-style-type: disc;
}*/
.posicion-relativa {
  position: relative;
}
h1,h2,h3,h4,p{
  padding: 0;
  margin: 4px 0 3px 0;
}
.seccion {
  
}
hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
  margin: 6px 0px;
}
.alinear-arriba {
  vertical-align: top !important;
} 
.alinear-abajo {
  vertical-align: bottom !important;
} 
.alinear-centro {
  text-align: center !important;
}
.alinear-medio {
  vertical-align: middle !important;
}
.alinear-izquierda {
  text-align: left !important;
}
.alinear-derecha {
  text-align: right !important;
}
.seguido {
  display: inline-block;
}
.tabla_apoyo {
  border: 1px solid red;
}
.html-grid,
.html-lista {
  font-size: 0.92em;
}
.html-grid {
  width: 100%;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  border-spacing: 0px;
}
.html-grid td, 
.html-grid th {
  border-collapse: collapse;
  border: 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.html-grid th, .html-grid td {
  padding: 3px;
  color: #555;
}
.html-grid tr th {
  text-align: left;
  background-color: #eee;
}
.html-grid tr.fila-registro:hover {
  color: #333;
}
.html-grid .par,
.html-lista th {
  background-color: #f5f5f5;
}
.html-grid .impar {
  background-color: #ffffff;
}
.html-grid_plus.encabezado,
.fila-registro{
  min-height: 2.2em;
  height: 2.2em;
}
.ancho-full{
  width: 100%;
  max-width: 99.8% !important;
}
.alto-full{
  height: 100%;
  max-height: 99% !important;
}
.ancho-minimo-120{
  min-width: 120px !important;
}
.ancho-minimo-140{
  min-width: 140px !important;
}
.ancho-minimo-150{
  min-width: 150px !important;
}
.ancho-minimo-320{
  min-width: 320px !important;
}
.ancho-15-porciento{
  width: 100%;
  max-width: 14.8% !important;
}
.ancho-10-porciento{
  width: 100%;
  max-width: 9.8% !important;
}
.ancho-20-porciento{
  width: 100%;
  max-width: 19.8% !important;
}
.resaltar {
  background-color: #ffff55;
  border: 2px dashed red;
}
.mensaje {
  position: absolute;
  display: block;
  clear: both !important;
  float: none !important;
  top: 0px;
  right: 0;
  left: 0;
  width: 350px;
  text-align: center;
  padding: 5px 12px;
  margin: 0 auto !important;
  font-weight: normal;
  font-size: 90%;
  border-radius: 5px;
}
.mensaje-info,
.mensaje-azul {
  border: 1px dotted rgba(0,0,255,1);
  background-color: rgba(0,0,255,0.75);
}
.mensaje-advertencia, 
.mensaje-amarillo{
  border: 1px dotted rgba(255,205,0,1);
  background-color: rgba(255,205,0,0.75);
}
.mensaje-error,
.mensaje-rojo {
  border: 1px dotted rgba(200,0,0,1);
  background-color: rgba(200,0,0,0.75);
  color: white;
}
.mensaje-exito,
.mensaje-verde {
  border: 1px dotted rgba(0,200,10,1);
  background-color: rgba(0,200,10,0.75);
}

.ancho-auto {
  width: auto !important;
}
.ancho-630 {
  max-width: 630px !important;
  width: 100%;
}
.ancho-250 {
  width: 100%;
  max-width: 250px !important;
}
.ancho-300 {
  width: 100%;
  max-width: 300px !important;
}
.ancho-340 {
  width: 100%;
  max-width: 340px !important;
}
.ancho-90 {
  width: 100%;
  max-width: 90px !important;
}
.ancho-100 {
  width: 100%;
  max-width: 100px !important;
}
.ancho-120 {
  width: 100%;
  max-width: 120px !important;
}
.ancho-140 {
  width: 100%;
  max-width: 140px !important;
}
.ancho-80 {
  width: 100%;
  max-width: 80px !important;
}
.ancho-85 {
  width: 100%;
  max-width: 85px !important;
}
.ancho-99-porciento{
  width: 100%;
  max-width: 98.8%; 
}
.ancho-85-porciento{
  width: 100%;
  max-width: 84.8%; 
}
.ancho-80-porciento{
  width: 100%;
  max-width: 79.8%; 
}
.html-grid tr.registro_nuevo td,
.html-grid tr.registro_editable td {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.html-grid tr.registro_nuevo td input[type="text"],
.html-grid tr.registro_nuevo td select,
.html-grid tr.registro_editable td input[type="text"],
.html-grid tr.registro_editable td select{
  margin: 0px;
  border-collapse: collapse;
  border: 0px;
  box-shadow: none;
} 
.html-grid tr.registro_nuevo td input[type="text"]:focus,
.html-grid tr.registro_nuevo td select:focus,
.html-grid tr.registro_editable td input[type="text"]:focus,
.html-grid tr.registro_editable td select:focus{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
  background-color: #ffffde;
}
.html-lista tr.cabecera_lista th {
  line-height: 1.5em;
  padding: 4px 0;
}
.html-lista tr.cabecera_lista th,
.html-lista tr.cabecera_lista td {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}
.html-lista tr.fila-registro td {
  border-bottom: 1px dotted #ccc;
}
.html-lista tr.registro_nuevo td,
.html-lista tr.registro_editable td {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.html-lista tr.registro_nuevo td input[type="text"],
.html-lista tr.registro_nuevo td select,
.html-lista tr.registro_editable td input[type="text"],
.html-lista tr.registro_editable td select{
  margin: 0px;
  border-collapse: collapse;
  border: 0px;
  box-shadow: none;
} 
.html-lista tr.registro_nuevo td input[type="text"]:focus,
.html-lista tr.registro_nuevo td select:focus,
.html-lista tr.registro_editable td input[type="text"]:focus,
.html-lista tr.registro_editable td select:focus{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2) inset;
  background-color: #ffffde;
}
.html-lista tr.fila-registro{
  cursor: pointer;
  line-height: 2em; //v2 .... jjy
}
.html-lista tr.fila-registro:hover {
  color: rgba(0,0,0,0.95);
}
.link_registro_nuevo_grid,
.link_guardar_registro,
.link_cancelar_edicion,
.link_cambiar_foto {
  margin: 2px;
  line-height: 20px;
  font-size: 0.85em;
}
.invisible{
  display: none;
  visibility: hidden;
}
.boton_ico_eliminar {
  cursor: pointer !important;
}
.html-lista tr.seleccionable:hover {
  background-color: rgba(0,0,255,0.25);
}
.componente.seleccionable:hover,
.componente.seleccionable:focus {
  background-color: rgb(250, 255, 189);
}
.ancho-800 {
  width: 100%;
  max-width: 800px !important;
}
.ancho-600 {
  width: 100%;
  max-width: 600px !important;
}
.ancho-500 {
  width: 100%;
  max-width: 500px !important;
}
.ancho-400 {
  width: 100%;
  max-width: 400px !important;
}
.ancho-450 {
  width: 100%;
  max-width: 450px !important;
}
.ancho-350 {
  width: 100%;
  max-width: 350px !important;
}
.ancho-300 {
  width: 100%;
  max-width: 300px !important;
}
.ancho-200 {
  width: 100%;
  max-width: 200px !important;
}
.ancho-150 {
  width: 150px;
}
.ancho-160 {
  width: 160px;
}
.ancho-130 {
  width: 100%;
  max-width: 130px !important;
}
.ancho-60 {
  width: 60px;
}
.ancho-70 {
  width: 70px;
}
.ancho-50 {
  width: 100%;
  max-width: 50px !important;
}
.ancho-40 {
  width: 40px;
}
.ancho-30 {
  width: 100%;
  max-width: 30px !important;
}
.ancho-20 {
  width: 20px;
}
.alto-50 {
  height: 50px !important;
}
.alto-80 {
  height: 80px !important;
}
.alto-100 {
  height: 100px !important;
}
.alto-120 {
  height: 120px !important;
}
.alto-150 {
  height: 150px !important;
}
.alto-200 {
  height: 200px !important;
}
.alto-30 {
  height: 30px !important;
}
.alto-220 {
  height: 220px !important;
}
.alto-250 {
  height: 250px !important;
}
.alto-245 {
  height: 245px !important;
}
.alto-99-porciento {
  height: 99% !important; 
}
.alto-97-porciento {
  height: 97% !important; 
}
.alto-95-porciento {
  height: 95% !important; 
}
.margen-inferior-50 {
  margin-bottom: 50px !important; 
}
.margen-inferior-5 {
  margin-bottom: 5px !important;  
}
.margen-inferior-4 {
  margin-bottom: 4px !important;   
}
.margen-inferior-10 {
  margin-bottom: 10px !important; 
}
.contenedor-pestanas {
  border-bottom: 1px solid #ddd;
  padding-left: 7px;
  padding-right: 7px;
}
.pestanas {
  position: relative;
  list-style-type: none;
  top: 0;
  margin: 5px auto -1px auto;
  padding: 0;
  z-index: 5;
}
.pestanas li{
  position: relative;
  border: 1px solid transparent;
  display: inline-block;
  margin: 0;
  text-align: center;
}
.pestanas li.tab{
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  
  .blanco-traslucido-pesatanas();

  //background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1)
  color: rgba(0,0,0,0.5);
  padding: 3px 5px;
  border-radius: 3px 3px 0px 0px;
  margin-right: 2px;
  margin-bottom: 1px; 
  white-space: nowrap;
  font-size: 0.9em;
}
.pestanas li.activo{
  background-color: #fff;
  border-bottom: 2px solid #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid rgba(100,100,100,0.7);
  padding-top: 7px;
  margin-bottom: -3px;
  font-weight: bold;
}
.pestanas li:hover {
  /* border: 1px solid rgba(0,0,0,.3);*/
}
.pestanas li a {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  text-indent: -30000px;
  margin: 0;
  padding: 0 7px;
}
.pestanas li a img {
  max-width: 72px;
  max-height: 72px;
  margin: 0;
  padding: 0;
}
form .pestanas li {
 font-size: 0.95em !important;
 font-weight: normal !important;
}

.tab_activo {

}
.limpiar-flotado {
  clear:both;
  float:none;
}

.ayuda-teclas {
  background-color: white;
  display: none;
  position: fixed;
  top: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;

  ul {
    padding: 0;
    margin: 4px; 
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0px 7px 3px 7px;
      border-radius: 5px 5px;
    }
  }
}
.teclas-alt {
  ul {
    li {
      background-color: #fcc;
    }
  }
}
.teclas-ctrl {
  ul {
    li {
      background-color: #ccf;
    }
  }
}
form.formulario-tabla { //*********************************** formulario-tabla ... jjy

  table * {/*font-size: 0.98em;*/} //DeJavu, Arial, sans-serif
  .celda-seleccionada {
    background-color: #ffffcd;
  }
  table { 
    border-collapse: collapse;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  table td, table th {
    vertical-align: middle;
    text-align: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  table th {
    background-color: #eee;
    padding: 4px;
    text-align: left;
    //font-size: 0.85em;
  }
  table td input[type="radio"] {

  }
  table td input, /*[type="text"], */
  table td select, 
  table td label {
    margin: 0 !important;
    border: 0;
    background-color: transparent;
    min-height: 1em;
    display: inline-block;
    float: left;
    vertical-align: middle;
  }
  table td input, /*[type="text"], */
  table td label {
    padding: 5px;
  }
  table td option {
    padding: 5px;
    vertical-align: middle;
  }
  table tr td table, table tr td table td, table tr td table th {
    border: 0;
  }

} //*************** fin formulario-tabla ..... jjy

.img-logo {
  background-image: url( ../imgs/logo.png );
  background-position: top center;
  background-repeat: no-repeat;
  border: 0;
  height: 75px;
  width: auto;
  margin: 0 auto;
  display: block;
}
.img-portada {
  border: 5px solid white;
  background-repeat: no-repeat;
  height: 320px;
  width: 100%;
  margin: 0 auto;
  clear: both;
  display: block;
}
.titulo-portada {
  text-align: center;
  margin: 25px 0 10px 0;
}
.encabezado_gobierno{
  position: relative;
  height:70px;
  padding: 10px 15px 0 15px !important;
  background-repeat:no-repeat;
  background-position:0 0; 
  background-color: white;
}
.logo_gobierno{
  background-size: auto 50px; 
  height:50px;
  background-image:url(../imgs/encabezado_gobierno.png);
  width:425px;
  float:left;
  background-position:top left;
}

@media ( max-width: 1280px){ .ocultar-en-1280{ display: none !important; visibility: hidden !important; } }
@media ( max-width: 1024px){ .ocultar-en-1024{ display: none !important; visibility: hidden !important; } }
@media ( max-width: 960px){ .ocultar-en-960{ display: none !important; visibility: hidden !important; } }
@media ( max-width: 768px){ .ocultar-en-768{ display: none !important; visibility: hidden !important; } }
@media ( max-width: 480px){ .ocultar-en-480{ display: none !important; visibility: hidden !important; } }
@media ( max-width: 320px){ .ocultar-en-320{ display: none !important; visibility: hidden !important; } }

@media( min-width: 768px ){
  .logo_especial{
    background-size: auto 50px; 
    height:50px;
    background-image:url(../imgs/logo_especial_gobierno.png);
    background-position:right center;
    width:180px;float:right;
  }
}
.contenedor-encabezado{
  display: block;
  border-top: 1px solid #f7f7f7;
  width: 100%;
}
.titulo-cintillo {
  font-weight: normal;
}
a {
  color: #335;
}
a.sin-outline {
  outline: 0px none !important;
}
.letra-condensada {
  font-family: 'OpenSans-Condensada';
}

/**** PRUEBAS CON MARCAS DE ESQUINA ....  jjy **/
.fondo-blanco {background-color:white;}
.tamano-menos1{font-size:0.5em;}
.tamano-1{font-size:1em;}
.tamano-2{font-size:1.5em;}
.tamano-3{font-size:2em;}

.letra-arial-normal {font-family: Arial, Helvetica;}
.letra-arial-condensada {font-family: ArialNarrow, Helvetica, "sans-serif";}
.letra-opensans-normal {font-family: OpenSans, Helvetica, "sans-serif";}
.letra-opensans-condensada {font-family: OpenSansCondensada, Helvetica, "sans-serif";}
.letra-roboto-normal {font-family: Roboto, Helvetica, "sans-serif"}
.letra-roboto-condensada {font-family:"RobotoCondensada", Helvetica, "sans-serif";}

.color-blanco            {color:white;}
.color-rojo              {color:red;}
.color-azul              {color:blue;}
.color-verde             {color:green}
.color-amarillo          {color:yellow;}
.color-negro             {color:black;}
.color-transparente      {color:transparent;}
.color-morado            {color:violet;}
.color-naranja           {color:orange;}
.color-gris              {color:grey;}
.color-gris-claro        {color:lightgrey;}

.color-fondo-blanco      {background-color:white;}
.color-fondo-blanco-traslucido {
  .blanco-traslucido-pesatanas();
}

.color-fondo-rojo        {background-color:red;}
.color-fondo-azul        {background-color:blue;}
.color-fondo-verde       {background-color:green}
.color-fondo-amarillo    {background-color:yellow;}
.color-fondo-negro       {background-color:black;}
.color-fondo-transparente{background-color:transparent;}
.color-fondo-morado      {background-color:violet;}
.color-fondo-naranja     {background-color:orange;}

.borde-rojo { border: 1px solid red; }
.borde-azul { border: 1px solid blue; }
.borde-verde { border: 1px solid green; }
.borde-negro { border: 1px solid black; }

input, select, textarea{
  //border:1px solid #ccc;padding:4px;margin-bottom:5px;background-color: #fff;
}

label{margin-right: 5px;display:inline-block;min-width:30px;}

//form table {border:0; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-collapse: collapse;}
//form table td, form table th {border:0; border-top: 1px solid #ccc; border-left: 1px solid #ccc;}
//form table th {background-color:#eee;}

.invisible {visibility: hidden;}
.seguido{display:inline-block;}
.resaltar-texto{background-color:yellow;}

.marca-input-requerido{width:6px;height:6px;position:absolute;left:0px;top:0px;background:url(../imgs/marca-esquina-1.png) top right transparent;background-color:rgba(200,0,0,0.75);cursor:pointer;} 

div.contenedor-input{position:relative;display:inline-block;}
td.contenedor-input{position:relative;padding:0;}

.formulario-tabla td div.contenedor-input input{margin:0;}
.formulario-tabla td.contenedor-input input{margin:0;}

.formulario td.contenedor-input label{margin:auto 5px;}    
.formulario td.contenedor-input input{border:0;}

fieldset {margin:0;padding:0;border:none;position:relative;}
fieldset input{margin:0;}

.campo-celda{padding:0px;}

/********* pruebas fa *******************/
//table {border:0;border-bottom:1px dotted #ccc;border-right:0px solid #ccc;}
//table td {border:0;border-top:1px dotted #ccc;border-left:0px solid #ccc; padding: 2px 7px;}

table td.contenedor-iconos-accion {margin: 0; padding: 0; vertical-align: middle;}
//form {margin: 50px;}

//input {border: 1px solid #ccc; padding: 4px; margin: 0; border-radius: 2px;}
.contenedor-input {display:inline-block; position:relative;}

div .icono-accion-derecha {position:relative; display:inline-block; /*position:absolute; right:1px; top:1px;*/ padding: 6px 6px;}
div .icono-accion-izquierda {position:relative; display:inline-block; /*position:absolute; left:1px; top:1px;*/ padding: 6px 6px;}

table td.contenedor-iconos-accion .icono-accion-izquierda,
table td.contenedor-iconos-accion .icono-accion-derecha {
  padding: 2px;
}

td > a > .icono-accion-derecha {display:inline-block; /*position:absolute; right:1px; top:1px; padding:3px;*/}
td > a > .icono-accion-izquierda {display:inline-block; /*position:absolute; left:1px; top:1px; padding:3px;*/}

form .contenedor-input a {outline: 0; text-decoration: none; color: rgba(0,0,0,0.5);} /* opcional */
form .contenedor-input a:hover {color: rgba(0,0,0,1);} /* opcional */

input:placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
    color: rgb(153, 153, 153);
}
.br-espacio-fijo {
  padding: 0; height: 5px; border: 0; margin: 0;
}
.hr-alto-fijo {
  padding: 0; border: 1px dotted #ccc; margin: 0;
}
.contenedor-micro-iconos {
  top: 0.4em !important;
  margin-left: -14px;
  padding: 0 !important;
  margin-right: 5px;
  font-size: 0.5em;
  position: relative;
}
.contenedor-micro-iconos a {
  border: 1px solid #999;
  width: 10px;
  text-align: center;
  margin: 0;
  background-color: #ddd;
}
.contenedor-micro-iconos .micro-boton-arriba {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #999;
}
.contenedor-micro-iconos .micro-boton-abajo {
  border-radius: 0 0 3px 3px;
  border-top: 0;
}
.italica {
  font-style: italic;
}
.contenedor-grid{
  width: 100%;
  overflow:auto;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}
.contenedor-grid table {
  border: 0 !important;
}
.contenedor-grid table td, 
.contenedor-grid table th, {
  border-right: 0 !important;
}
.discreto {
  color: rgba(0,0,0,.3) !important;
}
.solo-visible-hover, 
.solo-visible-hover a {
  color: rgba(0,0,0,0.5);
  text-decoration: none !important;
}
.solo-visible-hover:hover,
.solo-visible-hover:hover a {
  color: rgba(0,0,0,0.85);
}
.html-grid_plus {
  border: none;
}
.html-grid_plus {
  &.pie, 
  &.encabezado{
    border: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold;
    color: #555;
    width: 100%;
    min-height: 2.1em;
  }
}
.html-grid_plus.encabezado{
  //box-shadow: 0px -2px 7px #dedede inset;
}
.html-grid_plus.pie{
  border-top: 0;
  //box-shadow: 0px -2px 7px #dedede inset;
}
.html-grid_plus>div>div{
  padding: 0.29112em;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  float: left;
}
.html-grid_plus.encabezado>div{
  height: 100%;
}
.html-grid_plus.encabezado>div>div{
  border-bottom: none;
  height: 100%;
}

.contenedor-celda-grid_plus .fila-registro:hover .puntero {
  background-color: black;
}

.contenedor-celda-grid_plus,
.contenedor-componentes-celda-grid_plus {
  height:100%;
  min-width: 25px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.contenedor-celda-grid_plus {
  //padding: 4px !important;
}
.contenedor-componentes-celda-grid_plus {
  padding: 0 !important;
}
.contenedor-componentes-celda-grid_plus {
  input, 
  select, 
  select > option{
    margin: 0 !important;
    //padding: 0 !important;
    border: 0 !important;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.contenedor-componentes-celda-grid_plus:before,
.contenedor-celda-grid_plus {
  content: "";
  display: inline-block;
  vertical-align: middle;  
  //background: red;
}
.contenedor-componentes-celda-grid_plus:before {
  width: 0;
  height: 100%;
}

.html-grid_plus .puntero{
  min-width: 5px;
  width: 5px;
}
.fila-registro:hover .puntero {
  background-color: #ccc;
}

// para las listas generales de los módulos
.puntero_lista{
  margin-bottom: -4px;
  width: 14px;
  height: auto;
  opacity: 0.5;
}
.puntero_lista:hover{
  opacity: 0.9;
}
.icono-espera{ // revisar! ... jjy
  position: relative;
  left: 50%;
  margin-left: -25px;
  margin-top: 200px;
  width: 50px;
  height: 50px;
  //border: 1px solid red;
  text-align: center;
}
.botones-barra li a {
  font-size: 1.15em;
}
.scroll-overflow {
  overflow: auto;
  position: absolute;
  bottom: 15px;
  top: 88px;
  left:0;
  right:0;
}
.contenedor-grid_plus{
  width: 100%;
}
#footer {
  max-height: 45px;
  position: fixed;
}
h1{font-size:1.8em;}
h2{font-size:1.5em;}
h3{font-size:1.2em;}
label{font-weight:normal;font-size: 0.85em;}
//th{font-size: 0.92em;}

.nav-tabs li a { //bootstrap 3.1.1
  font-size: 0.92em;
  padding: 5px 10px !important;
  margin-top: 7px;
}
.nav-tabs li.active { //bootstrap 3.1.1
  font-weight: 600;
}
.navbar-default .navbar-nav{
  border: 0;
}
.navbar-default .navbar-nav .fa.fa-stack{
  height: 1.3em;
  margin-top: -0.8em;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
  // --- en revisión ... v2 jjy

  //background-image: url(../imgs/triangulo.png);
  //background-repeat: no-repeat;
  //background-position: 50% 40px;
}
/****** NECESARIOS PARA MOSTRAR DIALOGOS EMERGENTES !!  .. considerar pasara a aplicacion_base/css .. jjy ********************************/
.velo-blanco{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
  z-index: 1000;
}
.cerrar-velo-blanco{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 15px;
}
#contenedor_dialogo,
#contenedor_dialogo_ajax {
  background-color: #fff;
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 7px;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.25);
  padding: 10px;
  overflow: hidden;
}
.contenedor-navbar{
  padding: 0 7px !important;
}
.frame-container {
  max-width: inherit !important;
  width:     inherit !important; 
}
.relativo{
  position: relative;
}
.encima {
  z-index: 9999 !important;
}
.fa .fa-stack-1x{ /* correccion para fontawesom dentro del navbar de bootstrap */
  line-height: 1.85em;
}
.sombra-discreta{
  box-shadow: 0 0 10px rgba(0,0,0,0.15); 
}
.redondo {
  border-radius: 100px;
}
.boton.sombra_larga {
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 6em;
    height: 6em;
    padding: 20px;
    overflow: hidden;
}
.boton.sombra_larga i.fa {
    z-index: 1;
    position: absolute;
    font-size: 3.5em;
    //line-height: 1em;
    padding: 0px;
    margin: 0;
    color: white;
    left:0;
    top: 0;
}
.boton.sombra_larga>.interno i.fa.sombra{
    z-index:0;
}
.boton.sombra_larga.tres_d {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5) !important;
}
.boton.sombra_larga.tres_d .interno i.fa:first-child {
    text-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}
.boton.sombra_larga img {
    padding: 0px;
    margin: 0;
    width: 100%;
}

.interno {
    position: relative;
}

/* --- COLORES --------------------------------------------*/

.sombra_larga .interno .sombra-traslucida {color: rgba(0,0,0,0.05); }

.sombra_larga.blanco{background-color: #fdfdfd;}    .sombra_larga.blanco .interno .sombra {color: #dddddd;} 
.sombra_larga.gris-claro{background-color: #ddd;}    .sombra_larga.gris-claro .interno .sombra {color: #cccccc;} 
.sombra_larga.gris      {background-color: #333;}    .sombra_larga.gris .interno .sombra {color: #333333;}
.sombra_larga.azul      {background-color: #3B5A9B;} .sombra_larga.azul .interno .sombra {color: #324D84;}
.sombra_larga.verde     {background-color: #6BB02F;} .sombra_larga.verde .interno .sombra {color: #5B9628;}
.sombra_larga.amarillo  {background-color: #F9B820;} .sombra_larga.amarillo .interno .sombra {color: #D49D1C;}
.sombra_larga.naranja   {background-color: #F87F14;} .sombra_larga.naranja .interno .sombra {color: #D36C10;}
.sombra_larga.rojo      {background-color: #D03427;} .sombra_larga.rojo .interno .sombra {color: #B02C20;}
.sombra_larga.cafe      {background-color: #5A554F;} .sombra_larga.cafe .interno .sombra {color: #4C4944;}
.sombra_larga.azul-claro{background-color: #2B97F1;} .sombra_larga.azul-claro .interno .sombra {color: #2581CC;}
.sombra_larga.violeta   {background-color:#8A66A3;}  .sombra_larga.violeta .interno .sombra {color: #75578B;}

/*.area-desplazable {
  position: absolute !important;
  overflow: auto;
  //overflow-y: auto;
  //overflow-x: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
*/
.thumbnail{
  margin: 3px;
}
a.thumbnail .boton.sombra_larga {
  margin: 15px;
}
.navbar-brand{
  margin-right: 15px;
}
.pie_dialogo{
  padding:15px 30px;
  text-align: right;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 62px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fbfbfb;
}
#contenedor_dialogo .cerrar_dialogo{
  margin: 12px 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.simbolo_popup{
  padding: 20px;
  padding-right: 0;
}
.texto_popup{
  padding: 20px;
}
.area_desplazable::selection,
.area_desplazable::-moz-selection,
#contenedor_dialogo p::selection,
#contenedor_dialogo p::-moz-selection {
  background-colo: transparent !important;
}
.html_grid_avanzado{
  .contenedor-componentes-celda-grid_plus{
    display: table;
    overflow: hidden;
    padding: 0;
  }
  .contenedor-celda-grid_plus{
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
}
/**** CALENDARIO  .... jjy v2 ***/
.calendario-simple {
  background-color:#fff!important
}
.calendario-simple tr {
  line-height:auto
}
.calendario-simple td,.calendario-simple th {
  text-align:center;
  padding:0 7px
}
.calendario-simple .encabezado_mes {
  text-transform:uppercase;
  line-height:2em;
  border-bottom:1px solid #ccc
}
.calendario-simple .encabezado_dias th {
  text-transform:uppercase;
  font-weight:400;
  background-color:#f5f5f5!important;
  line-height:1.8em;
  border:1px dotted #ccc
}
.calendario-simple td {
  border-right:1px solid #ddd
}
.calendario-simple .seleccionable:hover {
  background-color:#f9f9f9!important
}
.calendario-simple .seleccionable:hover td:hover {
  background-color:#eee!important
}
.calendario-simple .fecha-activa {
  font-weight:700;
  background-color: #eee; 
}
.velo-negro{
  * {
    color: #fcfcfc !important;
  }
  pre, .pre, code, .code{
    background-color: #312 !important;
  }
  background-color: rgba(0,0,0,0.9);
  &>div, hr{
    background-color: rgba(0,0,0,0.5) !important;
    border-color: #750 !important;
  }
}
.consola, .terminal {
  background-color: #312 !important;
  font-family: 'Ubunutu light', 'Ubuntu', Menlo, Monaco, Consolas, 'Courier New', 'Courier', 'monospace', 'System', 'Terminal', 'Serif';
  font-size: 1.1em;
  font-weight: normal;
  text-align: left;
  line-height: 1.2em;
  text-rendering: optimizeLegibility;
  border: 0;
  color: rgba(255,255,255,0.95) !important;
}

/*************************************/