/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/
 *
 * @version
 * 2.0.287 (February 06 2009)
 *
 * @author
 * Alex Gorbatchev
 * 
 * @copyright
 * Copyright (C) 2004-2009 Alex Gorbatchev.
 *
 * Licensed under a GNU Lesser General Public License.
 * http://creativecommons.org/licenses/LGPL/2.1/
 *
 * SyntaxHighlighter is donationware. You are allowed to download, modify and distribute 
 * the source code in accordance with LGPL 2.1 license, however if you want to use 
 * SyntaxHighlighter on your site or include it in your product, you must donate.
 * http://alexgorbatchev.com/wiki/SyntaxHighlighter:Donate
 */
.syntaxhighlighter,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter span,
.syntaxhighlighter .bold,
.syntaxhighlighter .italic,
.syntaxhighlighter .line,
.syntaxhighlighter .line .number,
.syntaxhighlighter .line .content,
.syntaxhighlighter .line .content .block,
.syntaxhighlighter .line .content .spaces,
.syntaxhighlighter .bar,
.syntaxhighlighter .ruler,
.syntaxhighlighter .toolbar,
.syntaxhighlighter .toolbar a,
.syntaxhighlighter .toolbar a:hover
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
	text-align: left;
	float: none;
	vertical-align: baseline;
	position: static;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	height: auto;
	width: auto;
	line-height: normal;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
}

.syntaxhighlighter
{
	width: 100%;
	margin: 1em 0 1em 0;
	padding: 1px; /* adds a little border on top and bottom */
	position: relative;
}

.syntaxhighlighter .bold {
	font-weight: bold;
}

.syntaxhighlighter .italic {
	font-style: italic;
}

.syntaxhighlighter .line .number
{
	float: left; 
	width: 3em; 
	padding-right: .3em;
	text-align: right;
	display: block;
}

/* Disable numbers when no gutter option is set */
.syntaxhighlighter.nogutter .line .number
{
	display: none;
}

.syntaxhighlighter .line .content
{
	margin-left: 3.3em; 
	padding: 2px .5em;
	display: block;
}

.syntaxhighlighter .line .content .block
{
	display: block;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.syntaxhighlighter .line .content .spaces
{
	display: none;
}

/* Disable border and margin on the lines when no gutter option is set */
.syntaxhighlighter.nogutter .line .content
{
	margin-left: 0; 
	border-left: none;
}

.syntaxhighlighter .bar
{
}

.syntaxhighlighter.collapsed .bar
{

}

.syntaxhighlighter.nogutter .ruler
{
	margin-left: 0;
	padding-left: 0;
}

.syntaxhighlighter .ruler
{
	padding: 0 0 .5em .5em;
	margin-left: 3.3em;
	overflow: hidden;
}

/* Adjust some properties when collapsed */

.syntaxhighlighter.collapsed .lines,
.syntaxhighlighter.collapsed .ruler
{
	display: none;
}

/* Styles for the toolbar */

.syntaxhighlighter .toolbar
{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1px;
	padding: 8px 8px 8px 0; /* in px because images don't scale with ems */
}

.syntaxhighlighter.collapsed .toolbar
{
	font-size: 80%;
	padding: .2em 0 .5em .5em;
	position: static;
}

.syntaxhighlighter .toolbar a.item,
.syntaxhighlighter .toolbar .item
{
	display: block;
	float: left;
	margin-left: 8px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
}

.syntaxhighlighter.collapsed .toolbar .item
{
	display: none;
}

.syntaxhighlighter.collapsed .toolbar .item.expandSource
{
	background-image: url(magnifier.png);
	display: inline;
	text-indent: 0;
	width: auto;
	float: none;
	height: 16px;
	padding-left: 20px;
}

.syntaxhighlighter .toolbar .item.viewSource
{
	background-image: url(page_white_code.png);
}

.syntaxhighlighter .toolbar .item.printSource
{
	background-image: url(printer.png);
}

.syntaxhighlighter .toolbar .item.copyToClipboard
{
	text-indent: 0;
	background: none;
	overflow: visible;
}

.syntaxhighlighter .toolbar .item.about
{
	background-image: url(help.png);
}

/** 
 * Print view.
 * Colors are based on the default theme without background.
 */

.syntaxhighlighter.printing,
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content,
.syntaxhighlighter.printing .line .content .block
{
	background: none;
}

/* Gutter line numbers */
.syntaxhighlighter.printing .line .number
{
	color: #bbb;
}

/* Add border to the lines */
.syntaxhighlighter.printing .line .content
{
	color: #000;
}

/* Toolbar when visible */
.syntaxhighlighter.printing .toolbar,
.syntaxhighlighter.printing .ruler
{
	display: none;
}

.syntaxhighlighter.printing a
{
	text-decoration: none;
}

.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a
{ 
	color: #000;
}

.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a
{ 
	color: #008200;
}

.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a
{
	color: blue; 
}

.syntaxhighlighter.printing .keyword
{ 
	color: #069; 
	font-weight: bold; 
}

.syntaxhighlighter.printing .preprocessor 
{ 
	color: gray; 
}

.syntaxhighlighter.printing .variable 
{ 
	color: #a70; 
}

.syntaxhighlighter.printing .value
{ 
	color: #090; 
}

.syntaxhighlighter.printing .functions
{ 
	color: #ff1493; 
}

.syntaxhighlighter.printing .constants
{ 
	color: #0066CC; 
}

.syntaxhighlighter.printing .script
{
	font-weight: bold;
}

.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a
{ 
	color: #808080; 
}

.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a
{ 
	color: #ff1493; 
}

.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a
{ 
	color: red; 
}
