/** estilos propios del modulo "inicio" .. _aplicacion_base **/
body{
  background: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.navbar{
  min-height: 40px;
}
.navbar-nav > li > a,
.navbar-brand {
  padding: 12px 10px;
  height: auto;
}

@media( min-width: 768px ){
  .navbar-brand{
    font-size: 1.15em;
    font-weight: normal;
  }
}
@media( max-width: 768px ){
  .navbar-brand{
    font-size: 2em;
    padding-top: 0.6em;
  }
}
.mensaje{
  top: 14%;
}