.container_6{margin-left:auto;margin-right:auto;width:780px;}
.container_6 .grid_6{width:760px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
html,body{height:100%;}
#wrapper{min-height:100%;height:auto!important;margin:0 auto;}
a:hover{text-decoration:underline;}
abbr,acronym{font-size:85%;letter-spacing:.1em;text-transform:uppercase;}
abbr[title],acronym[title],dfn[title]{border-bottom:1px dotted #CCC;cursor:help;}
small,sup,sub{font-size:90%;}
.code{background-color:#eaeff4;color:#069;overflow:auto;padding:2px 6px;}
#wrapper>header{top:0;width:100%;z-index:999;zoom:1;background-color:#fff;border-bottom:1px solid #ebebec;box-shadow:0 1px 0 #d2d2d3,0 1px 3px rgba(0, 0, 0, 0.2);}
#wrapper>header h1{font-size:24px;letter-spacing:.3em;line-height:1.2em;color:#a7a7a7;font-family:Courier,monospace;font-weight:400;text-transform:uppercase;}
#wrapper>section{padding-top:20px;}
.main-section{background:rgba(255, 255, 255, 0.3);margin-bottom:20px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.main-section .content{padding:20px 20px 20px 0;}
.main-content{background:#fff;-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.5);-khtml-box-shadow:0 0 1px rgba(0, 0, 0, 0.5);box-shadow:0 0 1px rgba(0, 0, 0, 0.5);-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;position:relative;z-index:1;}
.main-content>header{background:#eee;background:-moz-linear-gradient(top, #fafafa, #e1e1e1);background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));-pie-background:linear-gradient(top, #fafafa, #e1e1e1);border-bottom:1px solid #999;-moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-khtml-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;padding:10px 30px;-moz-box-shadow:0 1px 1px #bbb;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 1px #bbb;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-khtml-box-shadow:0 1px 1px #bbb;-khtml-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);-pie-box-shadow:none;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);}
.main-content>header h2{font-size:18px;letter-spacing:.2em;line-height:1.2em;color:#2c2f32;font-family:Courier,monospace;text-transform:uppercase;font-weight:400;text-shadow:0 1px 0 #fff;margin:0;}
.main-content>section{-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-khtml-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;padding:20px 30px;}
.main-content>section.container_6{padding:20px;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,#wrapper>header nav>ul li:hover ul,#wrapper>section>div>aside nav>ul{display:block;}
.grid_6{display:inline;float:left;position:relative;}
